@font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
}

 *, *:before, *:after {
     box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: #000;
    background-image: url('/assets/images/stars.png');
}


nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: transparent;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 100px;
  z-index: 99;

}

.logo img {
    position: absolute;
    top: -0px;
	width: 80px;
    height: 80px;
    left:40px
   
}
nav{
    margin-left:700px
}
.nav-links{
    width: 400px;
    height: auto;
}
nav .nav-links ul {
	display: flex;
	align-items: center;
	list-style: none;

}

nav .nav-links ul li a {
  font-style: normal;
	display: block;
	padding: 10px;
	margin-right: 20px;
	color: #ffffff;
    font-size: 16px;
	text-decoration: none;
	transition: all 0.3s ease;
}
/* a line under the hovering link having a animation of appearing from middle to end */
nav .nav-links ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #070707;
    transition: all 0.3s ease;
}
nav .nav-links ul li a:hover::after {
    width: 100%;
    margin-left: 0;
}


.header-right{
    display:none;
}


.hamburger {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
}
header .circle-bg{
    width: 40px;
    height: 40px;
    background: white;
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hamburger .bar {
    width: 20px;
    height: 2px;
    margin: 3px 0;
    background-color: #000000;
}

#para {
    position: relative;
    width: 100%;
    height: 125vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#para::before {
    /*blending the border between sections*/
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000000, transparent);
    z-index: 1000;
}

#para img {
    position: absolute;
    pointer-events: none;
}
#planet {
  display: none;
  
}


#para img#purple-planet
{
  width: 497px;
  height: 412px;
  right: -100px;
  bottom: -100px;
}
#para img#earth-robbot
{
  left: -180px;
top: 200px;
    z-index: 10;  

}
/* I want a hover effect on the image of the earth robot */
#para img#earth-robbot:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
}

#para img#mars
{
  width: 250px;
height: 243px;
right:80px;
top: 200px;

}
#moon{
  right: 100px;
top: 100px;
}
#comet{
  left: 100px;
top: 100px;
}
.heading-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 20%;
  left: 20%;
  max-width: 1000px;
  max-height: 1350px;

  width: 100%;
  text-align: center;
  z-index: 1;
}

#text {
  /* position: absolute;
  top:25%; */
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 59px;
  line-height: 70px;
  /* identical to box height, or 119% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  
}
#heading-tag{
  /* position: absolute;
  top: 22%; */
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #fff;
}

#heading-desc{
  /* position: absolute;
  top:42%; */
  font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
letter-spacing: .2px;
color: #fff;
text-align: center;
}
#button{
  margin-top: 10px;
}

#button ,#button1,#btn1 {

    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #fff;
    color: #2b1055;
    font-size: 16px;
    display: inline-block;
    z-index: 9;
    /* transform: translateY(25px); */
}
#button1{
  text-decoration: none;
    padding:2px 30px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    font-style: normal;
}
#btn1{
  text-decoration: none;
    background-color: #fff;
    color: #2b1055;
    margin-bottom: 50px;
}
#button:hover ,#button1:hover{
    box-shadow: 0 0 50px 0 #fff;
    color: #000000;
    transition: all 0.3s ease;
}



.hamburger{
    display: none;
   
}






/* prize section */

#Gain{
    position: relative;
    width: 100%;
    height: 80vh;


}
#Gain::before {
    /*blending the border between sections*/
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000000, transparent);
    z-index: 1000;
}

#Gain h1{
    position: absolute;
    top: -100px;
    margin: -100px 35% 0 35%;
   
    font-family: 'Inter'; 
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    z-index: 1000;
    text-transform: uppercase;
   
    
}


.wrapper {
  display:flex;
  flex-shrink: 10;
  gap:1px;
  flex-direction: row;
    
}
.wrapper:focus {
    outline: 0;
}
.benefit {
  
    background: white;
    max-width: 400px;
    
    display: inline-block;
    margin: auto;
    margin-top: 100px;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
    transition: all 0.3s ease;
    
   
}
.benefit__image {
    position: relative;
    height: 230px;
    margin-bottom: 35px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.benefit:hover{
 transform: perspective(900px) translateY(-1%) rotateX(-5deg) translateZ(0px);
 box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
 -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
 -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
 
}
.benefit__image--Nourish {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
}
.benefit__image--Nourish img {
    width: 550px;
    position: absolute;
    top: -180px;
    right: -120px;
    transition: all 0.5s;
}
.Nourish:hover img {
  opacity: 1;
  transform: translate3d(5%, -10%, 100px);
 }






.benefit__image--Flourish {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
}
.benefit__image--Flourish img {
    width: 350px;
    position: absolute;
    top: -180px;
    left: 0px;
    transition: all 0.5s;
}
.Flourish:hover img {
 opacity: 1;
 transform: translate3d(10%, -5%, 100px);
}
.benefit__image--Cherish {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
}
.benefit__image--Cherish img {
  width: 380px;
    position: absolute;
    top: -170px;
    left: 50px;
    transition: all 0.5s;
}
.Cherish:hover img {
  opacity: 1;
  transform: translate3d(2%, -10%, 100px);
 }

.benefit__image--goblin {
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
}
.benefit__image--goblin img {
    width: 370px;
    position: absolute;
    top: -21px;
    left: -37px;
}

.benefit__image--wizard img {
    width: 345px;
    position: absolute;
    top: -28px;
    left: -10px;
}
.benefit__level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}
.benefit__level--Nourish {
    color: #ec9b3b;
}
.benefit__level--Flourish {
    color: #ee5487;
    
}
.benefit__level--Cherish {
    color: #f6901a;
}
.benefit__unit-name {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}
.benefit__unit-description {
    padding: 20px;
    margin-bottom: 10px;
}
.benefit__unit-stats--Nourish {
    background: #ec9b3b;
}
.benefit__unit-stats--Nourish .one-third {
    border-right: 1px solid #bd7c2f;
}
.benefit__unit-stats--Flourish {
    background: #ee5487;
}
.benefit__unit-stats--Flourish .one-third {
    border-right: 1px solid #d04976;
}
.benefit__unit-stats--Cherish {
  background: #ec9b3b;
}
.benefit__unit-stats--Cherish .one-third {
    border-right: 1px solid #bd7c2f;
}

.benefit__unit-stats {
    color: white;
    font-weight: 700;
    
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.benefit__unit-stats .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
}
.benefit__unit-stats sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
}
.benefit__unit-stats .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}
.benefit__unit-stats .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}
.benefit__unit-stats .no-border {
    border-right: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 28;
    content: " ";
    clear: both;
    height: 0;
}
.slick-prev {
    left: 100px;
    z-index: 9990;
}
.slick-next {
    right: 100px;
    z-index: 9990;
}



#Prize{
  margin-top: 500px;
  position: relative;
    width: 100%;
    height: 80vh;
}
#Prize h1{
  position: absolute;
  top: -100px;
  margin: -100px 35% 0 35%;
 
  font-family: 'Inter'; 
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  z-index: 1000;
  text-transform: uppercase;
 
  
}
.wrapper1 {
  display:flex;
  flex-shrink: 10;
  gap:1px;
  display: flex;
   flex-direction: column;
    
}
.row1{
  display: flex;
}
.row2{
  display: flex;
}
.benefit__image1 {
  position: relative;
  height: 100px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.benefit__image1 img{
  top: -70px;
   left: -25px;
    width: 200px;

}
#extras{
  top: -70px;
   left: 0px;
}
.benefit__unit-name1 {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;

}
.stat1{
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
  font-size: 46px;
   text-shadow: 0 0 1px #ee5487;
   text-align: center;
}
.more{
 
  
    background: white;
    max-width: 400px;
    
    display: inline-block;
    margin: auto;
    margin-top: 100px;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
    transition: all 0.3s ease;
    padding: 70px 70px;
    

}



#love{
  width: 450px;

  top:-240px;
  right: -40px;

}

footer{
  position: relative;
  margin-top: 500px;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color:rgb(255, 255, 255);
  background: #000;
}
footer p{
  margin-top: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.09em;
  color: #ffffff;
  text-align: center;
}
footer .logo1 img{
  width: 100px;
  height: 100px;

  
}
.circle-bg{
  width: 45px;
  height: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  /* Shadow/400 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  color: #000;
}

.icon{
  height:40px;
  width:180px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;

}
.phone{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.circle-bg i{
  font-size: 20px;
  color: black;
}
.phone i{
  font-size: 20px;
  color: rgb(0, 0, 0);
}
#btn1{
  width: 150px;
  height: 60px;
  background: #000;
  border-radius: 10px;
  color:white;
  font-size: 30px;
  margin-top: 30px;
  }

  #one{
    top: -100px; left: -0px; width: 300px;
  }
  #two{
    top: -180px; left: -65px; width: 380px;
  }
  #three{
    top: -100px; left: -20px; width: 300px;
  }
  


  
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}


@media screen and (max-width: 1080px) {
  #love{
    display:none;
  
  }
  .logo img {
  display: none;
   
}
    nav {
        margin: 0;
        position: absolute;
        top: -4500%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #000000;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: 5;
    }
    .header-right{
        display: block;
        z-index: 9999;
    }

    .hamburger {
        z-index: 999;
        display: block;
    }
    .bar{
        background-color: #fffdfd;
    }
    .nav-links{
        width: 100%;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #000000;
        padding: 30px;
        transition: 0.3s;
        text-align: center;
        z-index: 1;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

    }
    .nav-links ul li {
        margin: 10px 0;
    }
    nav .nav-links ul li a {
        font-size: 24px;
        color: #ffffff;

    }
    nav.active {
        top: 0%;
        margin-top: 0;
    }
    nav ul {
        display: block;
    }
    nav .btn{
      background: #000;

    }


    #para{
        margin-top:10%;
        position: relative;
        width: 100%;
        height: 90vh;
        overflow: hidden;
    }

    

#para::before {
    /*blending the border between sections*/
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000, transparent);
    z-index: 10;
}

#para img {
    position: absolute;
    pointer-events: none;
}


#para img#purple-planet
{
  width: 200px;
  height: 170px;
  right: -100px;
  bottom: -100px;
}
#planet {
  display: none;
  width: 150px;
  right: 0px;
  top:330px;
  
}
#para img#earth-robbot
{
  width: 300px;
  height: 375px;
  left: 30px;
top: 240px;
    z-index: 10;  

}
/* I want a hover effect on the image of the earth robot */
#para img#earth-robbot:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
}

#para img#mars
{
  /* display: none; */
  width: 180px;
  height: 180px;
  right: 15px;
  top: 203px;
 

}
#moon{
  width:80px;
  right: 250px;
top: 300px;
}
#comet{
  width: 80px;
  left: 0px;
top: 30px;
}
.heading-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 12%;
  left: 1%;
  max-width: 1000px;
  max-height: 1350px;

  width: 100%;
  text-align: center;
  z-index: 1;
}










#text {
  /* position: absolute;
  top:13%;
   */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height, or 119% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #FFFFFF;
  
}
#heading-tag{
  /* position: absolute;
  top: 10%; */
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: #fff;
}

#heading-desc{
  display: none;

}

#button ,#button1 {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #fff;
    color: #2b1055;
    font-size: 16px;
    display: inline-block;
    z-index: 9;
  
}
#button1{
  text-decoration: none;
    padding:2px 30px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    font-style: normal;
}
#button:hover ,#button1:hover{
    box-shadow: 0 0 50px 0 #fff;
    color: #000000;
    transition: all 0.3s ease;
}






#Gain{
  position: relative;
  width: 100%;
  height: 80vh;
 


}
#Gain::before {
  /*blending the border between sections*/
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 1000;
}

#Gain h1{
  width: 100%;
  position: absolute;
  top: -10px;
  margin: -100px auto;
  font-family: 'Inter'; 
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  z-index: 1000;
  text-transform: uppercase;
 
  
}


.wrapper {
display:flex;
flex-shrink:5;
gap:1px;
overflow: hidden;
display: flex;
flex-direction: column;
  
}
.wrapper:focus {
  outline: 0;
}
.benefit {

  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  margin-top: 170px;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  transition: all 0.3s ease;
 
  
 
}
.benefit__image {
  
  position: relative;
  height: 100px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.benefit:hover{
transform: perspective(900px) translateY(-1%) rotateX(-5deg) translateZ(0px);
box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
-webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);

}

.benefit__image--Flourish {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
}
.benefit__image--Flourish img {
  width: 240px;
  position: absolute;
  top: -145px;
  left: -20px;
  transition: all 0.5s;
}
.Flourish:hover img {
opacity: 1;
transform: translate3d(10%, -5%, 100px);
}







.benefit__image--Nourish {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');
}
.benefit__image--Nourish img {
  width: 380px;
  position: absolute;
  top: -140px;
  right: -30px;
  transition: all 0.5s;
}
.Nourish:hover img {
opacity: 1;
transform: translate3d(5%, -10%, 100px);
}







.benefit__image--Cherish {
background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg');
}
.benefit__image--Cherish img {
width: 270px;
  position: absolute;
  top: -160px;
  left: 0px;
  transition: all 0.5s;
}
.Cherish:hover img {
opacity: 1;
transform: translate3d(2%, -10%, 100px);
}

.benefit__image--goblin {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg');
}
.benefit__image--goblin img {
  width: 370px;
  position: absolute;
  top: -21px;
  left: -37px;
}

.benefit__image--wizard img {
  width: 345px;
  position: absolute;
  top: -28px;
  left: -10px;
}
.benefit__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}
.benefit__level--Nourish {
  color: #ec9b3b;
}
.benefit__level--Flourish {
  color: #ee5487;
  
}
.benefit__level--Cherish {
  color: #f6901a;
}
.benefit__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}
.benefit__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}
.benefit__unit-stats--Nourish {
  background: #ec9b3b;
}
.benefit__unit-stats--Nourish .one-third {
  border-right: 1px solid #bd7c2f;
}
.benefit__unit-stats--Flourish {
  background: #ee5487;
}
.benefit__unit-stats--Flourish .one-third {
  border-right: 1px solid #d04976;
}
.benefit__unit-stats--Cherish {
background: #ec9b3b;
}
.benefit__unit-stats--Cherish .one-third {
  border-right: 1px solid #bd7c2f;
}

.benefit__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.benefit__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.benefit__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.benefit__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.benefit__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.benefit__unit-stats .no-border {
  border-right: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 28;
  content: " ";
  clear: both;
  height: 0;
}
.slick-prev {
  left: 100px;
  z-index: 9990;
}
.slick-next {
  right: 100px;
  z-index: 9990;
}


#Prize{
  margin-top: 200vh;
  position: relative;
    width: 100%;
    height: 80vh;
}
#Prize h1{
  position: absolute;
  margin: 0px 0px 0px 80px;
  width: 230px;
 
  font-family: 'Inter'; 
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  z-index: 1000;
  text-transform: uppercase;
 
  
}
.wrapper1 {
  flex-shrink: 10;
  gap:1px;
  display: flex;
   flex-direction: column;
    
}
.row1{
  display: flex;
  flex-direction: column;
}
.row2{
  display: flex;
  flex-direction: column;
}
.benefit__image1 {
  position: relative;
  height: 100px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.benefit__image1 img{
  top: -70px;
   left: -25px;
    width: 200px;

}
#extras{
  top: -70px;
   left: 0px;
}
.benefit__unit-name1 {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;

}
.stat1{
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
  font-size: 46px;
   text-shadow: 0 0 1px #ee5487;
   text-align: center;
}
.more{
 
  
    background: white;
    max-width: 400px;
    
    display: inline-block;
    margin: auto;
    margin-top: 100px;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
    transition: all 0.3s ease;
    padding: 70px 70px;
    

}



#love{
  width: 450px;

  top:-240px;
  right: -40px;

}

#one{
  top: -100px; left: -0px; width: 300px;
}
#two{
  top: -170px; left: -50px; width: 380px;
}
#three{
  top: -100px; left: -7px; width: 300px;
}



footer{
  position: relative;
  margin-top: 210vh;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color:rgb(255, 255, 255);
  box-shadow: #000000 0px 0px 1px;
}
footer p{
  margin-left: 5px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.09em;
  color: #ffffff;
  text-align: center;
}
footer .logo{
  margin-top: 30px;
}
#button1{
  margin-right:20px ;
  margin-top: 20px;
  background-color: black;
  color: white;
  font-size: 24px;

}



    
}
@media only screen and (max-device-width: 600px) {
  #Prize{
    margin-top: 150vh;
    position: relative;
      width: 100%;
      height: 80vh;
  }
  
  #button ,#button1 {
    text-decoration: none;

    border-radius: 8px;
    background-color: #fff;
    color: #2b1055;
    font-size: 16px;
    display: inline-block;
    z-index: 9;

}}
@media only screen and (max-device-width: 400px) {
  
#Prize{
  margin-top: 230vh;
  position: relative;
    width: 100%;
    height: 80vh;
}
  #button ,#button1 {
    text-decoration: none;

    border-radius: 8px;
    background-color: #fff;
    color: #2b1055;
    font-size: 16px;
    display: inline-block;
    z-index: 9;
   
}

footer{
  position: relative;
  margin-top: 300vh;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color:rgb(255, 255, 255);
  box-shadow: #000000 0px 0px 1px;
}
footer p{
  margin-left: 5px;
  margin-top: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.09em;
  color: #ffffff;
  text-align: center;
}
footer .logo{
  margin-top: 30px;
}
#button1{
  margin-right:20px ;
  margin-top: 20px;
  background-color: black;
  color: white;
  font-size: 24px;

}


 
}

@media only screen and (max-device-width: 400px) and (min-device-height: 800px) {
  
  #Prize{
    margin-top: 180vh;
    position: relative;
      width: 100%;
      height: 80vh;
  }
    #button ,#button1 {
      text-decoration: none;
  
      border-radius: 8px;
      background-color: #fff;
      color: #2b1055;
      font-size: 16px;
      display: inline-block;
      z-index: 9;
     
  }
  
  footer{
    position: relative;
    margin-top: 230vh;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color:rgb(255, 255, 255);
    box-shadow: #000000 0px 0px 1px;
  }
  footer p{
    margin-left: 5px;
    margin-top: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.09em;
    color: #ffffff;
    text-align: center;
  }
  footer .logo{
    margin-top: 30px;
  }
  #button1{
    margin-right:20px ;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-size: 24px;
  
  }
  
  
   
  }

